html {
      scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', cursive;
	font-size: 14px;
	line-height: 1.429;
	color: #40514E;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}


div, section{
	display: block;
}


header {
      width: 100%;
      height: 20vh;
      background: url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}


.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #000;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 100;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #000;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
      color: #fff;
}

nav.black ul li a {
	color: #fff;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      transition: 1s;
      display: none;
}

.white {
	color: #fff;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
            color: #fff;
      }

      nav ul {
            max-height: 0px;
            background: #000;
            color: #fff;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            color: #fff;
            padding: 24px;
            text-align: center;
      }

      nav ul li a {
      	color: #fff;
      }

      .menu-icon {
            display: block;
      }

      #cell {
      		display: none;
      }

      #cell2 {
      		display: none;
      }

      .interest-icon {
      		float: right;
      		margin-left: 0;
      }

}

#top-container {
	background: #99d8d0;
	position: relative;
}


#mid-container {
	padding: 150px 0;
	background: #fcf9ea;
}

.hello {
}

.hello h2 {
	color: #3b064d;
}

.intro {
	width: 40%;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 18px;
}


h1 {
	font-size: 5.625rem;
	font-family: 'Chilanka', cursive;
	color: #504658;
	margin: 50px auto 0 auto;
	white-space: nowrap;
}

h2 {
	font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
	color: #504658;
	padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
	color: #504658;
}

p {
	line-height: 2;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #70416d;
	border-width: 6px;
	width: 5%;
	margin: 60px auto;
	border-bottom: none;
}

.interests {
	background: #99d8d0;
	padding: 20px 20px;
	border: 1px solid rgba(255, 0, 0, .5);
}

.a-description {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}

.a-description h3 {
	font-size: 40px;
	font-weight: 900;
	color: #160f30;

}

.a-description p {
	font-size: 19px;
}

.contact {

}

.contact p {
	color: #000000;
	font-size: 20px;
}

.btn {
	margin-top: 25px;
	background-image: linear-gradient(to bottom, #99d8d0, #3c70a4);
	border-radius: 16px;
	font-size: 22px;
	text-align: center;
}

#bot-container {
	background: #3c9d9b;
	padding: 40px 0 50px;
	position: relative;
}

#cell {
	position: relative;
	left: 200px;
	top: 100px;
}

#cell2 {
	position: relative;
	right: 200px;
}

.btn:hover{
	background-image: linear-gradient(to bottom, #3c70a4, #3c70a4);
	color: #EAF6F6;
}

.link {

}

.link a {
	margin: 10px 100px;
	color: #3b064d;
}

.link a:hover{
	color: #EAF6F6!important;
}

.copyright { 
	color: #EAF6F6;
	padding-top: 50px;
}

.phone {
	padding-top: 40px;
	padding-right: 10px;
}

.phone a {
	color: #3b064d;
	font-size: 16px;
	margin: 5px;
}

.phone a:hover {
	color: #EAF6F6!important;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-150%);

}
